
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=86852630-3e63-45b3-b9aa-b86577842a89");
    @font-face{
        font-family:"Museo W01_n2";
        src:url("Fonts/33e3dd38-a7c3-4a78-9660-90a0e7406419.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Museo";
        src:url("Fonts/33e3dd38-a7c3-4a78-9660-90a0e7406419.eot?#iefix");
        src:url("Fonts/33e3dd38-a7c3-4a78-9660-90a0e7406419.eot?#iefix") format("eot"),url("Fonts/d9dabe05-624c-4f28-8eee-b3b6f1841abf.woff2") format("woff2"),url("Fonts/827f2f08-a8d3-40b2-9795-927b59905269.woff") format("woff"),url("Fonts/92143848-9290-4516-80fc-ebf83b053307.ttf") format("truetype"),url("Fonts/b0d9d7a5-5c5b-439c-afa5-2c875dcf8ea2.svg#b0d9d7a5-5c5b-439c-afa5-2c875dcf8ea2") format("svg");
font-weight: 300;
font-style: normal;
    }
    @font-face{
        font-family:"Museo W01_n3";
        src:url("Fonts/3a1a59f5-1f68-4ebd-84ad-a9048fe78e39.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Museo";
        src:url("Fonts/3a1a59f5-1f68-4ebd-84ad-a9048fe78e39.eot?#iefix");
        src:url("Fonts/3a1a59f5-1f68-4ebd-84ad-a9048fe78e39.eot?#iefix") format("eot"),url("Fonts/52be0694-00c1-4daa-8782-419021c48e95.woff2") format("woff2"),url("Fonts/dee84039-06ae-4a61-89c4-709e594804a3.woff") format("woff"),url("Fonts/9547becc-44c3-4b00-8568-8d3debb4d299.ttf") format("truetype"),url("Fonts/5d61f150-54fd-4fa1-98ff-155e222626e1.svg#5d61f150-54fd-4fa1-98ff-155e222626e1") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"Museo W01_n5";
        src:url("Fonts/6eae3489-a367-4dd0-8e8d-f04af6173895.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Museo";
        src:url("Fonts/6eae3489-a367-4dd0-8e8d-f04af6173895.eot?#iefix");
        src:url("Fonts/6eae3489-a367-4dd0-8e8d-f04af6173895.eot?#iefix") format("eot"),url("Fonts/30cf41ae-6706-4b43-af3c-b78d041b321f.woff2") format("woff2"),url("Fonts/6c2eb955-de0e-4fee-88d2-b7d4efd3b231.woff") format("woff"),url("Fonts/d7334e65-d173-4627-9343-888384cb4ba8.ttf") format("truetype"),url("Fonts/1974d8aa-f576-4359-ad9d-67a183f915c8.svg#1974d8aa-f576-4359-ad9d-67a183f915c8") format("svg");
font-weight: 900;
font-style: normal;
    }
    @font-face{
        font-family:"Museo Sans W01_n1";
        src:url("Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"MuseoSans";
        src:url("Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix");
        src:url("Fonts/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix") format("eot"),url("Fonts/fd9d5b5d-71c1-4db0-bf20-cd7e3ce4d069.woff2") format("woff2"),url("Fonts/e976d680-12b6-411e-9f79-0ef9287f484d.woff") format("woff"),url("Fonts/81780024-f1ae-4135-a0ae-d0bab2c19986.ttf") format("truetype"),url("Fonts/98fa899e-fa41-4563-b67a-33d373ba60ee.svg#98fa899e-fa41-4563-b67a-33d373ba60ee") format("svg");
font-weight: 100;
font-style: normal;
    }
    @font-face{
        font-family:"Museo Sans W01_n2";
        src:url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"MuseoSans";
        src:url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix");
        src:url("Fonts/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix") format("eot"),url("Fonts/1d3191cd-ae8c-45e2-bb04-11e96d8fa974.woff2") format("woff2"),url("Fonts/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff") format("woff"),url("Fonts/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf") format("truetype"),url("Fonts/b9bed509-0816-43d8-b14b-7525a21f4bde.svg#b9bed509-0816-43d8-b14b-7525a21f4bde") format("svg");
font-weight: 300;
font-style: normal;
    }
    @font-face{
        font-family:"Museo Sans W01_n3";
        src:url("Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"MuseoSans";
        src:url("Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix");
        src:url("Fonts/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix") format("eot"),url("Fonts/d9896899-f08c-4750-a874-a9e10d83c2cb.woff2") format("woff2"),url("Fonts/d42dd843-62b0-4623-8855-d5882512c3c9.woff") format("woff"),url("Fonts/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf") format("truetype"),url("Fonts/f56b7407-f97b-4cb3-9ce6-4e13065eec93.svg#f56b7407-f97b-4cb3-9ce6-4e13065eec93") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"Museo Sans W01_n4";
        src:url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"MuseoSans";
        src:url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix");
        src:url("Fonts/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix") format("eot"),url("Fonts/e2d37f34-6bca-473c-b64d-93811f4dc046.woff2") format("woff2"),url("Fonts/eadbb595-a394-48fc-834f-8bf5da15cddf.woff") format("woff"),url("Fonts/9bcba093-b507-4b9b-9c83-303003d3815c.ttf") format("truetype"),url("Fonts/9a2af429-2624-4bd1-a676-8f0eed3e7e31.svg#9a2af429-2624-4bd1-a676-8f0eed3e7e31") format("svg");
font-weight: 700;
font-style: normal;
    }
    @font-face{
        font-family:"Museo Sans W01_n5";
        src:url("Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"MuseoSans";
        src:url("Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix");
        src:url("Fonts/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix") format("eot"),url("Fonts/009ca58d-46af-4651-a359-f0ae2301085b.woff2") format("woff2"),url("Fonts/3619b5f4-8df9-44f5-8c53-b7c236e9c74e.woff") format("woff"),url("Fonts/9b2d949a-4e1c-435c-8412-f377c80583ae.ttf") format("truetype"),url("Fonts/7a319e11-05eb-49ce-bdb7-f692766e6477.svg#7a319e11-05eb-49ce-bdb7-f692766e6477") format("svg");
font-weight: 900;
font-style: normal;
    }

body{
  font-family:MuseoSans, sans-serif;
  font-weight:300;
  font-size:18px;
  background-image:url(images/cloud-bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

h1, h2{
  color:#006633;
  text-transform:uppercase;
  font-weight:500;
}

a,
input[type="submit"]{
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}

img.aligncenter,
img.alignnone,
.aligncenter img,
.alignnone img{
  display:block;
  max-width:100%;
  height:auto;
  margin:25px auto;
}
img.alignleft,
.alignleft img{
  display:block;
  max-width:100%;
  height:auto;
  float:left;
  margin:25px 25px 25px 0px;
}
img.alignright,
.alignright img{
  display:block;
  max-width:100%;
  height:auto;
  float:right;
  margin:25px 0px 25px 25px;
}

.btn-main{
  display:inline-block;
  background-color:#006633;
  color:#fff;
  text-transform:uppercase;
  border:none;
  border-radius:20px;
  padding:5px 40px;
}
.btn-main:hover,
.btn-main:focus{
  background-color:#64abc5;
}

.masthead{
  background-color:#fff;
  text-align:center;
}
.masthead .contact-info{
  font-family:Museo, serif;
  font-weight:300;
  font-size:14px;
  color:#b7b7b7;
  padding-top:8px;
}
.masthead .contact-info>span{
  display:inline-block;
  margin-right:10px;
}
.masthead .payment-link,
.masthead .contact-link{
  text-transform:uppercase;
  background-color:#64abc5;
  font-family:Museo, serif;
  font-weight:300;
  color:#fff;
  display:inline-block;
  padding:6px;
}
.masthead .payment-link{
  background-color:#64abc5;
}
.masthead .payment-link:hover,
.masthead .payment-link:focus{
  background-color:#006633;
  text-decoration:none;
}
.masthead .contact-link{
  background-color:#006633;
}
.masthead .contact-link:hover,
.masthead .contact-link:focus{
  background-color:#64abc5;
  text-decoration:none;
}
.masthead .social>a{
  color:#b7b7b7;
}
.masthead .social>a:hover,
.masthead .social>a:focus{
  color:#006633;
}

#navbar{
  margin-top:20px;
}
.nav>li>a{
  color:#333;
  text-transform:uppercase;
  font-weight:500;
}
.nav>li.active>a,
.nav>li>a:hover,
.nav>li>a:focus{
  background-color:transparent;
  color:#64abc5;
}

.navbar-toggle{
  border-color:#006633;
}
.navbar-toggle .icon-bar{
  background-color:#006633;
}

.slogan{
  background-color:#006633;
  padding-top:30px;
  padding-bottom:30px;
  box-shadow:inset 0px -39px 50px -40px #000;
}
.slogan>h1{
  text-align:center;
  font-size:60px;
  text-transform:uppercase;
  margin-top:0;
  margin-bottom:0;
  color:#fff;
  font-weight:300;
}

#hero{
  background-repeat:no-repeat;
  background-size:cover;
}
.hero{
  box-shadow:0px 25px 40px -15px #666;
}
#hero.hp-hero{
  padding-top:40px;
  padding-bottom:25px;
  text-align:center;
  color:#fff;
}
.hero-caption>h2{
  margin-top:0;
  margin-bottom:0;
  font-size:46px;
  font-weight:300;
  text-transform:uppercase;
}
.hero-caption>h3{
  font-size:30px;
  text-transform:uppercase;
  font-family:Museo, serif;
  font-weight:300;
  margin-top:40px;
  margin-bottom:40px;
}
.hero-caption .btn-clear{
  font-size:35px;
  color:#fff;
  text-transform:uppercase;
  border:3px solid #ccc;
  border-radius:45px;
  padding:10px 20px;
  display:inline-block;
}
.hero-caption .btn-clear:hover,
.hero-caption .btn-clear:focus{
  border-color:#006633;
  text-decoration:none;
}
.hero-caption>p{
  margin-top:40px;
  font-size:24px;
  text-transform:uppercase;
}
.hero-caption .read-more{
  float:right;
  color:#fff;
  text-transform:uppercase;
  font-weight:300;
}
.hero-caption .read-more>.fa-angle-right{
  font-size:28px;
  vertical-align:bottom;
}
.page-title{
  background-color:#006633;
  text-align:center;
  padding-top:40px;
  padding-bottom:40px;
  box-shadow:inset 0px 23px 40px -20px #000;
}
.page-title p,
.page-title p>a{
  font-size:30px;
  color:#fff;
  font-family:Museo, serif;
}
.page-title h1{
  color:#fff;
}

#main{
  padding-top:60px;
  padding-bottom:60px;
}
.coverage-content{
  text-align:center;
  padding-top:60px;
  padding-bottom:100px;
}
.coverage-content>h2{
  margin-bottom:0;
  margin-top:0;
  font-size:48px;
  color:#006633;
  text-transform:uppercase;
  font-weight:300;
}
.coverage-content>p{
  color:#999;
  font-family:Museo, serif;
  font-weight:300;
}
.coverage-content>a{
  display:block;
  font-size:35px;
  text-transform:uppercase;
  color:#999;
  margin-top:60px;
  font-weight:500;
}

footer{
  background-color:#006633;
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
}
footer .faq-link{
  color:#fff;
  text-transform:uppercase;
  display:block;
  margin-bottom:20px;
}
footer .faq-link:hover,
footer .faq-link:focus{
  color:#fff;
  text-decoration:underline;
}
footer .copyright{
  margin-top:40px;
}
footer .copyright>p{
  font-size:14px;
  color:#fff;
  margin-bottom:0;
  font-weight:100;
}
footer .copyright>p>a{
  color:#fff;
}
footer .copyright>p>a:hover,
footer .copyright>p>a:focus{
  color:#fff;
  text-decoration:underline;
}

.contact-form h1{
  font-size:30px;
  color:#006633;
  text-transform:uppercase;
  font-weight:300;
  margin-top:0;
}
.form-control{
  background-color:rgba(102,102,102,.2);
  border-radius:0;
  box-shadow:none;
}

.price-comparisons.container-sm-height{
  border-spacing:15px;
}
.price-comparisons .col-sm-height{
  background-color:rgba(153,153,153,.2);
  padding-left:0;
  padding-right:0;
  vertical-align:top;
}
.tier{
  text-align:center;
}
.tier .tier-header{
  display:table;
  width:100%;
  height:100%;
  border-spacing:0;
  height:82px;
  padding:8px;
}
.tier h2{
  margin-top:0;
  margin-bottom:0;
  color:#fff;
  font-family:Museo, serif;
  font-weight:300;
  text-transform:uppercase;
  vertical-align:middle;
  display:table-cell;
}
.tier .tier-subheader{
  padding:15px;
}
.tier h3{
  font-size:45px;
  color:#fff;
  font-weight:900;
  margin-top:0;
  margin-bottom:0;
}
.tier h3>span{
  font-size:18px;
  font-weight:300;
  display:block;
}
.tier h3>a{
  color:#fff;
}
.tier .tier-body{
  padding:15px 15px 100px;
}
.tier .tier-body>h4{
  font-family:Museo, serif;
}
.tier .tier-body>ul{
  list-style-position:inside;
  padding-left:0;
}
.tier .tier-body>.btn-main{
  position:absolute;
  left:15px;
  right:15px;
  bottom:15px;
}
.tier .tier-body>p{
  text-align:left;
}
.tier .tier-subheader>p{
  color:#fff;
  line-height:1.2em;
}
.tier .tier-subheader>p>span{
  font-size:24px;
  display:block;
  margin-top:5px;
}

#tier1 .tier-header{
  background-color:#cc6600;
}
#tier1 .tier-subheader{
  background-color:#d3a06d;
}
#tier2 .tier-header{
  background-color:#177345;
}
#tier2 .tier-subheader{
  background-color:#4c8f6e;
}
#tier3 .tier-header{
  background-color:#2d567e;
}
#tier3 .tier-subheader{
  background-color:#98a8b7;
}

.plain-header{
  text-align:center;
  background-color:#006633;
  padding-top:40px;
  padding-bottom:40px;
}
.plain-header h1{
  color:#fff;
}

#payOption1 .tier-header{
  background-color:#64abc5;
}
#payOption1 .tier-subheader{
  background-color:#9ec2cf;
}
#payOption2 .tier-header{
  background-color:#187446;
}
#payOption2 .tier-subheader{
  background-color:#519473;
}
#payOption3 .tier-header{
  background-color:#315981;
}
#payOption3 .tier-subheader{
  background-color:#a2b1c1;
}

#payOption1 .tier-subheader,
#payOption2 .tier-subheader,
#payOption3 .tier-subheader{
  height:108px;
}
#payOption1 .tier-body,
#payOption2 .tier-body,
#payOption3 .tier-body{
  padding-bottom:15px;
}

.search-filter .search,
.search-filter .filter{
  float:right;
}
.search-filter .search .input-group{
  max-width:250px;
}
.search-filter .search .input-group-btn>.btn{
  background-color:rgba(102,102,102,.2);
  border-radius:0;
  margin-left:0;
}
.search-filter .filter{
  margin-left:20px;
  padding-top:7px;
}
.search-filter .filter a{
  color:#006633;
}

hr{
  border-color:#b7b7b7;
}

.post-header h4{
  color:#999;
}
.comments{
  margin-top:40px;
}
.comments>h4{
  color:#999;
}
.comments>h4>.show-comment-form{
  color:#999;
  display:inline-block;
  margin-left:25px;
  text-decoration:underline;
}

.leave-comment{
  display:none;
}

.panel-group .panel-default{
  border:none;
  border-radius:0;
  background-color:transparent;
  box-shadow:none;
}
.panel-group .panel-heading{
  background-color:#006633;
  border-radius:0;
}
.panel-group .panel-title>a{
  font-size:24px;
  color:#fff;
  text-transform:uppercase;
  font-weight:300;
}
.panel-group .panel-title>a>.fa-caret-up{
  float:right;
  -webkit-transition:all .3 ease;
  transition:all .3s ease;
}
.panel-group .panel-title>a.collapsed>.fa-caret-up{
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}


@media (max-width:767px){
  .masthead{
    background-color:transparent;
  }
  .masthead .payment-link,
  .masthead .contact-link{
    margin-top:10px;
    margin-bottom:10px;
  }
  .navbar-header{
    padding-top:15px;
  }
  .header-logo>img{
    float:left;
    margin-left:15px;
  }
  .slogan>h1{
    font-size:46px;
  }
  .hero-caption>h2{
    font-size:32px;
  }
  .hero-caption>h3{
    font-size:22px;
  }
  .hero-caption .btn-clear{
    font-size:24px;
    line-height:1.2em;
  }
  .hero-caption>p{
    font-size:18px;
  }
  .coverage-content>h2{
    font-size:32px;
  }
  .price-comparisons .col-sm-height{
    max-width:260px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
  }
}
@media (min-width:768px){
  .navbar-header{
    float:none;
    margin-top:25px;
  }
  .nav.nav-justified>li{
    position:relative;
  }
  .nav.nav-justified>li:before{
    content:"";
    position:absolute;
    height:32px;
    width:0px;
    top:6px;
    border-radius:10px;
    border:2px solid #006633;
  }
  .nav.nav-justified>li:first-child:before{
    border:none;
  }
  .container-sm-height{
    display:table;
  }
  .row-sm-height{
    display:table-row;
  }
  .col-sm-height{
    display:table-cell;
    float:none;
  }
}